header {
    background-color: bisque;
    height: 60px;
}

.headerNAV { 
    display: flex;
    width: 100%;
}

.paginas {
    font-family: "Arial", sans-serif;
    margin-right: 25px;
    padding-top: 22px;
}

.logo {
    margin-left: 20px;
    margin-right: 70px;
    padding-top: 7px;
}

.fotoPerfil {
    position: absolute;
    right: 30px;
    padding-top: 15px;
}

.pointInterest {
    height: 450px;
    width: 100%;
    background-image: url(img/orange-sauce.webp);
    background-size: cover;
    background-position: center;
    font-family: "Arial", sans-serif;
    position: fixed;
    top: 100;
}

.recipeCat {
    margin-top: 100px;
    margin-left: 150px;
}

.recipeTitle {
    margin-left: 150px;
    font-size: 50px;
}

.recipeSubtitle{
    margin-left: 150px;
    font-size: 50px;
}

.seeRecipe{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    width: 150px;
    padding: auto;
    border: 3px solid black;
    box-sizing: border-box;
    border-radius: 30px;
}

.NAV {
    position:static;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    display: flex;
    width: 100%;
}

.ViewCat {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    color: grey;
    margin-left: 80px;
    margin-right: 50px;
    padding-top: 22px;
}

